/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}
body{
	font-family: montserrat, arial, verdana;
	background-color: #900C3F;
	color: #FFFFFF;
}

/*Nuancier Rouge
#900C3F
#581845
#C70039
#FF5733
#FFC30F*/


#container
{
    display: flex;
		flex-wrap = nowrap;
		justify-content: space-around;
		text-align: center;
}

.TitreAccueil{
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	background-color: #581845;
	color: #ecf0f1;
	font-size: 4em;
}

.leftColumn{
	display: block;
	text-align: center;
	/*background-color: #FF5733;*/
}
